@model IEnumerable<Anbar.Models.Transaction>

@{
    ViewBag.Title = "IndexByGroup";
}

<h2>فهرست</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<table class="table">
    <tr>
        <td>
            @Html.ActionLink("ایجاد سند ورود به انبار", "Create", new { tTypeID = 0 }, new { @class="btn btn-primary"})
        </td>
        <td>
            @Html.ActionLink("ایجاد سند خروج از انبار", "Create", new { tTypeID = 1 }, new { @class = "btn btn-danger" })
        </td>
        <td>
            @Html.ActionLink("ایجاد سند انتقال", "Create", new { tTypeID = 2 }, new { @class = "btn btn-info" })
        </td>
    </tr>
</table>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entry_Supplier.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exit_Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Entry_Supplier.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exit_Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.ID }) |
            @Html.ActionLink("جزئیات", "Details", new { id=item.ID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.ID })
        </td>
    </tr>
                            }

</table>
